.title {
    height: auto;
    text-align: center;
}

.containerPrincipal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: grid;
    justify-content: center;
    align-items: center;
}

.containerSucursal{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.buttonsContainer {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,50%);
    cursor: pointer;
}

.buttonsContainer Button{
    width: auto;
}

.buttonVerSucursal{
    background-color: #3B82F6; 
    border: 2px solid #2563EB;
}

.buttonEliminarSucursal{
    background-color: #EF4444; 
    border: 2px solid #B91C1C; 
}

.buttonEditarSucursal{
    background-color: #FBBF24; 
    border: 2px solid #F59E0B;
}

.buttonVistaAdmin{
    background-color: #1E3A8A; 
    border: 2px solid #1E40AF;
}
.boton_agregar {
    height: 10vh;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}