.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.botonAddAlergeno {
  background-color: #e67e22;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 8vw;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.botonAddAlergeno:hover {
  background-color: #d35400;
  transform: scale(1.05);
}
.botonAddAlergeno h2 {
  padding: 0.25rem;
  font-size: 1rem;
  color: white;
}
.botones {
  width: auto;
}
.tabla {
  background-color: #f5f5f5;
  width: 100%;
  margin-right: 10px;
}
.tabla tr:nth-child(0) {
  background-color: #e67e22;
  color: white;
  padding: 5px;
}
.tabla td {
  padding: 8px;
  
}

.tabla tr:nth-child(even) {
    background-color: #dddddd; 
  }
.tabla th:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: stretch;

}

.tabla {
    width: 100%; /* Ocupa todo el ancho disponible */
    border-collapse: collapse; /* Une los bordes */
    background-color: #f5f5f5; /* Fondo claro para buena visibilidad */
    font-family: Arial, sans-serif; /* Fuente limpia */
    align-items: center;
  }
  
  .tablaTitle {
    padding: 10px; /* Espaciado interno */
    text-align: center;
    background-color: #e67e22; /* Centra el contenido */
  }
  
  .tabla tr {
    background-color: #e67e22; /* Fondo naranja para encabezados */
    color: black; /* Texto blanco */
    font-weight: bold;
  }
  
  .tabla tr:nth-child(even) {
    background-color: #dddddd; /* Gris claro para filas pares */
  }
  
  .tabla tr:nth-child(odd) {
    background-color: #f5f5f5; /* Fondo claro para filas impares */
  }
  
  .tabla img {
    border-radius: 4px; /* Bordes redondeados para imágenes */
    object-fit: cover; /* Ajusta la imagen sin distorsión */
  }
  
  /* Botones */
  .botones {
    border: none; /* Sin borde */
    padding: 6px 10px; /* Tamaño uniforme */
    font-size: 16px;
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
  }
  
  .botones:hover {
    opacity: 0.8; /* Efecto visual al pasar el cursor */
  }
  
  .botones[aria-label="Ver alergeno"] {
    color: #ffcc00; /* Amarillo */
  }
  
  .botones[aria-label="Editar alergeno"] {
    color: #007bff; /* Azul */
  }
  
  .botones[aria-label="Eliminar alergeno"] {
    color: #dc3545; /* Rojo */
  }
  