.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.botonAddAlergeno {
  background-color: #e67e22;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 8vw;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.botonAddAlergeno:hover {
  background-color: #d35400;
  transform: scale(1.05);
}
.botonAddAlergeno h2 {
  padding: 0.25rem;
  font-size: 1rem;
  color: white;
}
.botones {
  width: auto;
}
.tabla {
  background-color: #f5f5f5;
  width: 100%;
  margin-right: 10px;
}
.tabla tr:nth-child(0) {
  background-color: #e67e22;
  color: white;
  padding: 5px;
}
.tabla td {
  padding: 8px;
}

.tabla tr:nth-child(even) {
  background-color: #dddddd;
}
.tabla th:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  align-items: center;
}

.tablaTitle {
  padding: 10px;
  text-align: center;
  background-color: #e67e22;
}

.tabla tr {
  background-color: #e67e22;
  color: black;
  font-weight: bold;
}

.tabla tr:nth-child(even) {
  background-color: #dddddd;
}

.tabla tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.tabla img {
  border-radius: 4px;
  object-fit: cover;
}

.botones {
  border: none;
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.botones:hover {
  opacity: 0.8;
  scale: 1.2;
}
.id{
  display: flex;
  justify-content: center;
  align-items: center;
}
