.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonContainer {
    width: 100%;
    height: auto;
    float: left;
}

.boton {
    left: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 1vh;
    font-size: 18px;
}

.botones {
    width:auto
}