.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card {
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(200, 200, 217);
}


.buttonContainer {
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

.buttonCard {
  width: 4vw;
  height: 5vh;
}

.sucursalesExistentes{
  margin: 40%;
}
