.title {
    margin-top: 2vh;
    text-align: center;
}

.containerButtonCrear{
    display: flex;
    justify-content: end;
    margin: 30px;
}

.buttonCrear {
    background-color: #e67e22; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;
    margin-right: 30px;
    margin: 10px 0; /* Espaciado alrededor del botón */
    display: inline-block;
    transition: background-color 0.3s;
    width: 10vw
  }

  .buttonCrear:hover {
    background-color: #d35400; /* Color de fondo cuando se pasa el ratón */
  }
.buttonCrearH2{
    margin-top: 7px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh
}

.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


Button {
    width: 5vw;
}
.containerDiv{
    display: flex;
    margin: 10px;
}

/* Estilos para el select de categoría */
.selectCategoria {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #f8f9fa;
    margin-left: 20px;
  }
  
  .selectCategoria:focus {
    border-color: #007bff; /* Color de borde cuando está seleccionado */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efecto de sombra */
  }
  
  /* Contenedor de los elementos alineados a la izquierda */
  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  /* Espaciado entre elementos del formulario */
  .formGroup > * {
    margin-bottom: 10px;
  }