.container {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  height: 100%;
}

.containerEmpresas {
  background-color: #1a1a1a;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1;
  color: #fff;
  padding: 1.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.containerEmpresas::-webkit-scrollbar {
  display: none;
}

.listaEmpresa {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.empresasCardContainer {
  width: 80%;
  display: flex;
}

.titulo {
  height: 10vh;
}

.containerPopInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.containerSucursales {
  background-color: #e8e8e8;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sucursalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTituloSucursales {
  width: 100%;
  height: 4rem;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.containerTituloSucursales h2 {
  margin: 10px;
  color: #fff;
}

.sucursal {
  width: 15vw;
  height: 10vh;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
