.container {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  height: 100%;
}

hr {
  width: 15vw;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}

.containerEmpresas {
  background-color: #252422;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1;
  color: #fff;
  padding: 1.5rem;
  overflow-y: scroll;
}

.listaEmpresa {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.empresasCardContainer {
  width: 80%;
  display: flex;
}

.titulo {
  height: 10vh;
}

button {
  width: 10vw;
  height: 6vh;
  font-size: 12px;
  background-color: #fbb383;
  border: #ff7300;
  color: #252422;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ffd699;
}

.agregarEmpresa {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}

.containerPopInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.containerSucursales {
  background-color: #fffaeb;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sucursalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sucursales {
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: space-evenly;
  gap: 2vh;
}

.sucursal {
  width: 15vw;
  height: 10vh;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
