/* 
*/
/* POP UP */

.modalContent {
  width: 100vw;
}

.containerPopUp {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

/* Caja del popup */
.popUpContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  height: auto;
}

/* Contenido del popup */
.contenido {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerModal {
  display: flex;
}

.containerAtributes {
  width: 50%;
  height: 100%;
}

.segundoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

/* Formulario */

form {
  width: 100%;
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

form .label {
  width: 90%;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1.5vh;
}

.imagenContainer {
  width: 90%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
}

.imagenContainer img {
  border: 1px solid black;
  width: 10vw;
  height: 10vh;
}

.inputImagen {
  width: 100%;
  height: 1vh;
}

.imagenContainer button {
  width: 10vw;
  height: 6vh;
}

.containerButtonsForm {
  display: flex;
  gap: 2vh;
}

.formButton {
  font-size: 3vh;
  width: 20vw;
  height: 6vh;
  font-size: 12px;
  background-color: #fbb383;
  border: #ff7300;
  color: #252422;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.formButton:hover {
  background-color: #ffd699;
  color: #252422;
}



/* BOTON ACEPTAR */

.botonAceptar {
  background-color: #e6f4e6;
  border: 1px solid #4caf50;
  color: #4caf50;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-out;
  text-align: center;
  width: auto;
}

.botonAceptar:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 1px solid #4caf50;
}

/* BOTON CANCELAR */

.botonCancelar {
  background-color: #fbeaea;
  border: 1px solid #f44336;
  color: #f44336;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-out;
  text-align: center;
  width: auto;
}

.botonCancelar:hover {
  background-color: #f44336;
  color: #ffffff;
  border: 2px solid #f44336;
}