.containerPopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Caja del popup */
.popUpContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

/* Contenido del popup */
.contenido {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contenido h2 {
  margin-bottom: 20px;
  height: auto;
  font-size: 1.5rem;
}

/* Formulario */

.formulario {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 1vw;
  justify-content: space-between;
}
.columnaUno {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: flex-start;
}
.columnaDos {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1vh;
}

/* Formulario */

.inputField {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.35rem;
}

/* Estilo del input */
.inputElement {
  width: 100%;
  height: 7vh;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
  color: #333;
  outline: none;
}

.inputElement:focus {
  border-color: #e67e22;
}

/* Estilo del label flotante */
.floatingLabel {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 0.75rem;
  color: #666;
  background-color: white;
  padding: 0 4px;
  pointer-events: none;
}

.imagenContainer {
  width: 60%;
  height: 10vh;
  padding: 10px;
  margin: 1rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imagenContainer img {
  border-radius: 0.3rem;
  width: 5vw;
  height: 8vh;
}

.imagenContainer input {
  width: 60%;
  height: 5vh;
  border: solid #ccc 1px;
  padding: 1rem;
  border-radius: 0.2rem;
}

/* CONTENEDOR DE LOS BOTONES */
.containerButtonsForm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

/* BOTON ACEPTAR */

.formButtonAccept {
  background-color: #e6f4e6;
  border: 1px solid #4caf50;
  color: #4caf50;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-out;
  text-align: center;
  width: 5rem;
}
.formButtonAccept:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 1px solid #4caf50;
}

/* BOTON CANCELAR */

.formButtonCancel {
  background-color: #fbeaea;
  border: 1px solid #f44336;
  color: #f44336;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-out;
  text-align: center;
  width: 5rem;
}
.formButtonCancel:hover {
  background-color: #f44336;
  color: #ffffff;
  border: 2px solid #f44336;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}
