.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.cardButton {
  width: auto;
  height: 5vh;
  font-size: 12px;
  background-color: #fbb383;
  border: #ff7300;
  color: #252422;
  /* padding: 10px 20px; */
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: #ffd699;
  color: #252422;
}
